@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');


* {
    margin: 0;
    padding: 0;
}


/* <><><><><> Mobile <><><><><> */

@media only screen and (max-width: 600px) {

    
}





/* <><><><><>   Desktop <><><><><>*/

@media only screen and (min-width: 601px) {
    .main-wrapper {
        width: 60%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        border: 2px solid blue;
    }
    .logo-main {
        align-self: center;
        width: 10%;
        height: auto;
    }
    .title-main {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Architects Daughter', sans-serif;
        align-self: center;
    }
}
.createMonster-main {
    font-family: 'Architects Daughter', sans-serif;
}

.newMonster-wrapper {
    border: 2px solid #501d1d;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
}
.create-title {
    margin-left: 25%;
    margin-bottom: 10px;
}
.elem_select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-left: 20%;
}
.elem_select img.select_arrow {
    width: 40px;
}
.elem_select img.select_arrow:hover {
    cursor: pointer;
}
.elemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
.elemInfo img {
    flex: 2;
}
.elemInfo p {
    align-self: center;
    font-size: 18px;
}

.newmonster-name,
.monster-search-input {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    border:none;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 5px #474444 inset;
   -moz-box-shadow:0 0 5px #474444 inset;
   box-shadow:0 0 5px #474444 inset;
   margin-top: 10px;
   text-indent:5px;
}
.newmonster-name:focus { outline:none; }

.atk-def-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}
.atk-def-select img {
    width: 40px;
    margin-right: 10px;
}
.atk-def-select input {
    width: 50px;
}
.atk-wrapper, .def-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
.newMonster-wrapper button {
    width: 40%;
    margin-left: 30%;
    height: 40px;
}
.monsters-wrapper {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    font-family: 'Architects Daughter', sans-serif;
}
.monster-search-input {
    margin-left: 0;
    width: 50%;
}

.monster-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #501d1d;
    border-top: 0;
    padding: 20px;
}
.monster-wrapper:first-of-type {
    margin-top: 20px;
    border-top: 2px solid #501d1d;
}
.monsters-wrapper {
    padding-bottom: 20px;
}
.monsters-wrapper .first-group {
    display: flex;
    flex-direction: row;
}
.monsters-wrapper .first-group .elem img {
    width: 70px;
    align-self: center;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}
.monster-name {
    margin-bottom: 5px;
    font-size: 18px;
}
.attr-wrapper {
    display: flex;
    flex-direction: row;
}
.attr-wrapper img {
    width: 26px;
}
.monster-atk {
    margin-right: 20px;
}
.attr-wrapper i {
    font-size: 25px;
}

.delete-monster img {
    width: 50px;
    margin-top: 10px;
}
.delete-monster img:hover {
    cursor: pointer;
}
.searchResultsCount {
    color: #9e9e9e;    
}